body {
	font-family: Arial, sans-serif;
	margin: 0;
	background: #1a1a1a;
	color: #fff;
	overflow-y: scroll;
	height: 100%;
}

.standard-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.simple-button {
	background: #c0392b;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 3px;
	cursor: pointer;

	&:hover {
		background: #e74c3c;
	}
}

/* Стили для react-datepicker */
.react-datepicker {
	background: #333;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-family: inherit;

	&-wrapper {
		width: 100%;
	}

	&__header {
		background: #2c2c2c;
		border-bottom: none;
		color: #fff;
	}

	&__input-container {
		input {
			width: 100%;
			padding: 8px;
			background: #444;
			border: none;
			color: #fff;
			border-radius: 3px;
			box-sizing: border-box;
			cursor: pointer;
			user-select: none; /* Запрещаем выделение текста */
		}
	}

	&__current-month,
	&__day-name {
		color: #fff;
	}

	&__day {
		color: #fff;
		background: #444;
		border-radius: 3px;

		&:hover {
			background-color: #555;
		}

		&--selected,
		&--keyboard-selected {
			background: #c0392b;
			color: #fff;
		}

		&--outside-month {
			color: #aaa;
		}
	}

	&__navigation-icon {
		&::before {
			border-color: #fff;
		}
	}
}
